<div class="container">
	<div class="row">
		<div class="col-md-4" style="text-align: center;">
			<img
				style="width: 100%; margin-top: 10px; max-width: 250px; max-height: 250px; font-size: small; padding: 5px; border: 1px solid black;"
				alt="{{event.name}}" ng-src={{event.logoURL}} check-image>

			<button type="button" class="btn btn-disabled"
				style="margin-top: 20px;" ng-disabled="true">
				<i class="fa fa-star"></i> Saved Event
			</button>
		</div>
		<div class="col-md-8" style="padding: 12px;">
			<p>
				<b style="font-size: x-large;">{{event.name}}</b>
			</p>
			<p style="font-size: large;">
				<i class="fa fa-calendar-times-o"></i>&nbsp;{{event.start |
				date:'medium'}}
			</p>
			<address>
				{{event.address_1}}<br> {{event.region}} -
				{{event.postal_code}} {{event.city}} <br>
				Capacity:&nbsp;{{event.capacity}}
			</address>

			<div style="font-size: x-large;" share-square="true"
				share-links="Facebook, Twitter, LinkedIn, Google-Plus"
				share-title="Article Title"></div>

		</div>

	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="map-view" style="padding-top: 20px;">
				<map zoom="14" center="[{{currentLatitude}},{{currentLongitude}}]">
					<directions draggable="true" travel-mode="DRIVING"
						origin="current-location"
						destination="[{{event.latitude}},{{event.longitude}}]">
					</directions>
				</map>
			</div>
		</div>
		<div class="col-md-8">
			<p style="padding-top: 20px; font-size: large;">
				<span style="font-weight: bold;">Description:</span>&nbsp;{{event.description}}
			</p>
		</div>
	</div>
	<div class="row">
		<div class="comment-box">
			<div id='dv1'>
				<form>
					<textarea ng-model="txtcomment" placeholder="Your Comment"
						style='width: 70%; margin-left: 15px; margin-top: 20px; margin-bottom: 20px;'></textarea>
					<div>
						<button ng-click='btn_add()' ng-disabled="isDisabled"
							style='margin-left: 14px; margin-bottom: 10px;'>Post
							Review</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
