<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong class="">Register</strong>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" name="userForm"
						ng-controller="registrationController"
						ng-submit="saveUserData(userForm)" novalidate>
						<div class="form-group"
							ng-class="{ 'has-error' : userForm.fname.$invalid && !userForm.fname.$pristine }">
							<label class="col-sm-4 control-label">First Name</label>
							<div class="col-sm-8">
								<input class="form-control" name="fname" placeholder="Bruce"
									ng-model="newUser.fName" required>
								<p
									ng-show="userForm.fname.$invalid && !userForm.fname.$pristine"
									class="help-block">Your first name is required.</p>
							</div>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error' : userForm.lname.$invalid && !userForm.lname.$pristine }">
							<label class="col-sm-4 control-label">Last Name</label>
							<div class="col-sm-8">
								<input class="form-control" name="lname" placeholder="Wayne"
									ng-model="newUser.lName" required>
								<p
									ng-show="userForm.lname.$invalid && !userForm.lname.$pristine"
									class="help-block">Your last name is required.</p>
							</div>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
							<label class="col-sm-4 control-label">Email</label>
							<div class="col-sm-8">
								<input class="form-control" name="email" type="email"
									placeholder="Email" ng-model="newUser.emailId" required>
								<p
									ng-show="userForm.email.$invalid && !userForm.email.$pristine"
									class="help-block">Your email is required.</p>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-4 control-label">Password</label>
							<div class="col-sm-8">
								<input type="password" class="form-control" id="inputPassword3"
									name="inputPassword3" placeholder="Password"
									ng-model="newUser.password" password-strength="newUser.password">
									<span class="help-inline" 
									data-ng-show='userForm.inputPassword3.$valid && userForm.inputPassword3.$dirty' 
									data-ng-class="strength">This password is {{strength}} ! </span>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword4" class="col-sm-4 control-label">Confirm
								Password</label>
							<div class="col-sm-8">
								<input type="password" class="form-control" id="inputPassword4"
									name="inputPassword4" placeholder="Confirm Password"
									ng-model="newUser.confirmPassword" pw-check="inputPassword3">
									<p ng-show="userForm.inputPassword4.$error.pwmatch"
									class="help-block">Passwords don't match.</p>
							</div>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
							<label class="col-sm-4 control-label">Phone</label>
							<div class="col-sm-8">
								<input class="form-control" name="phone"
									placeholder="xxx xxx xxxx" ng-model="newUser.phone" required>
								<p
									ng-show="userForm.phone.$invalid && !userForm.phone.$pristine"
									class="help-block">Your phone is required.</p>
							</div>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error' : userForm.address.$invalid && !userForm.address.$pristine }">
							<label class="col-sm-4 control-label">Address</label>
							<div class="col-sm-8">
								<input class="form-control" name="address"
									placeholder="1007 Mountain Drive" ng-model="newUser.address" required>
								<p
									ng-show="userForm.address.$invalid && !userForm.address.$pristine"
									class="help-block">Your address is required.</p>
							</div>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error' : userForm.city.$invalid && !userForm.city.$pristine }">
							<label class="col-sm-4 control-label">City</label>
							<div class="col-sm-8">
								<input class="form-control" name="city" placeholder="Gotham"
									ng-model="newUser.city" required>
								<p ng-show="userForm.city.$invalid && !userForm.city.$pristine"
									class="help-block">Your city is required.</p>
							</div>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error' : userForm.zipCode.$invalid && !userForm.zipCode.$pristine }">
							<label class="col-sm-4 control-label">Zip Code</label>
							<div class="col-sm-8">
								<input class="form-control" name="zipCode" placeholder="212"
									ng-model="newUser.zipCode" required>
								<p
									ng-show="userForm.zipCode.$invalid && !userForm.zipCode.$pristine"
									class="help-block">Your zip code is required.</p>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8">
								<button type="submit" class="btn btn-success"
									ng-disabled="userForm.$invalid">Sign up</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>