<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<label for="search">Search:</label> <input ng-model="q" id="search"
						class="form-control" placeholder="Filter text">
				</div>
				<div class="col-md-6">
					<label for="search">items per page:</label> <input type="number"
						min="1" max="10" class="form-control" ng-model="pageSize">
				</div>
			</div>
			<br>
			<div style="overflow:auto; height:390px;">
			<ul class="list-group">
				<li class="list-group-item"
					dir-paginate="record in basicSearchRecords | filter:q | itemsPerPage: pageSize"
					current-page="currentPage"><a href="#eventDetails/{{record.id}}" target="_blank"><div
							class="row">
							<div class="col-md-4">
								<img style="width: 70%; margin-left: 30px; margin-top: 10px;"
									alt="{{record.name}}" ng-src={{record.logoURL}}>
							</div>
							<div class="col-md-8" style="padding: 10px;">
								<p>
									<b>{{record.name}}</b>
								</p>
								<p>
									<i class="fa fa-calendar-times-o"></i>&nbsp;{{record.start |
									date:'EEE, MMM dd yyyy, hh:mm a'}}
								</p>
								<p>Capacity:&nbsp;{{record.capacity}}</p>
							</div>
						</div></a></li>
			</ul>
			</div>


			<div class="text-center">
				<dir-pagination-controls boundary-links="true"
					on-page-change="pageChangeHandler(newPageNumber)"
					template-url="pages/dirPagination.tpl.html"></dir-pagination-controls>
			</div>
		</div>
		<div class="col-md-6" style="padding-top: 25px;">
			<div>
				<ng-map style="height: 450px;"
					center="[{{currentLatitude}},{{currentLongitude}}]" zoom="12">
				<marker position="current" animation="Animation.BOUNCE"
					centered="true"
					icon="https://upload.wikimedia.org/wikipedia/commons/9/92/Map_marker_icon_%E2%80%93_Nicolas_Mollet_
					%E2%80%93_Home_%E2%80%93_People_%E2%80%93_Default.png">
				</marker> <marker position="{{record.latitude}}, {{record.longitude}}"
					ng-repeat="record in basicSearchRecords"
					on-click="showInfoWindow(record)"> </marker></ng-map>
			</div>
		</div>
	</div>
</div>
