.search-controls {
	padding-top: 8px;
}

.dropdown.dropdown-lg .dropdown-menu {
	margin-top: -1px;
	padding: 6px 20px;
}

.input-group-btn .btn-group {
	display: flex !important;
}

.btn-group .btn {
	border-radius: 0;
	margin-left: -1px;
}

.btn-group .btn:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}

.form-group .form-control:last-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
	#adv-search {
		width: 500px;
		margin: 0 auto;
	}
	.dropdown.dropdown-lg {
		position: static !important;
	}
	.dropdown.dropdown-lg .dropdown-menu {
		min-width: 500px;
	}
}

html, body {
	height: 100%;
}

footer {
	position: absolute;
	bottom: 0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background: lightskyblue;
}

.comment-box { #dv1 { border:1pxsolid#DBDCE9;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-left: 15px;
	margin-top: 20px;
	border-radius: 7px;
	padding: 25px;
	margin-left: 15px;
	margin-top: 20px;
}

div {
	width: 200px;
}

h2 {
	font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 1px solid #ccc;
}

li:last-child {
	border: none;
}

li a {
	text-decoration: none;
	color: #000;
	display: block;
}

}

body {
	color: white;
	background-image: radial-gradient(#8BA3BF, #03060A);
}

.larger-form {
	font-size: 1.25em;
}

.larger-form i {
	width: 18px;
	margin-right: 0px;
}
.larger-form .form-group {
    border-bottom: 1px solid #D0D0D0;
    padding: 10px;
}

.tab-pane {
	padding: 20px;
}

.alt-font {
	font-family: 'Raleway', sans-serif;
}

.tagline, h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

.tagline span {
	font-weight: 400;
    color: white;
}

.jumbotron {
	padding: 15px;
    background: transparent;
}

.map-view {
	border: 15px solid white;
    border-radius: 4px;
    box-shadow: 4px 4px 2px #3A3A3A;
}

.list-group {
    margin-right: 8px;
}

.list-group-item {
    margin-bottom: 10px;
    box-shadow: 4px 4px 2px #3E3E3E;
}

.list-group-item:first-child {
	border-radius: 0;
}

.td-easy-social-share a {
    margin: 0 2px;
    background: white;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    padding: 7px 5px;
    text-decoration: none;
}

.td-easy-social-share a.fa-facebook {
    color: #3B5998;
}

.td-easy-social-share li a.fa-twitter {
    color: #55ACEE;
}

.td-easy-social-share li a.fa-linkedin {
    color: #007bb6;
}

.td-easy-social-share a.fa-google-plus {
	color: #dd4b39
}

.description {
	padding: 20px;
    font-size: 1.25em;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgb(37, 37, 37);
    font-family: Raleway, sans-serif;
    line-height: 26px;
}

.description strong {
	font-weight: 600;
}

.dropdown-menu, .panel-default, .panel-body, .table {
    color: #333;
}
.navbar {
    border-radius: 0 0 2px 2px;
}

.app-logo {
    font-family: 'Pacifico', cursive;
    color: #763C26;
    font-size: 30px;
    margin: 4px 0 0;
    display: inline-block
}
